<h1>Aide</h1>
<p>
  Ceci est la page d'aide que je viens de créer à l'aide de ROR. Youhou !!!
  <a href="http://www.consultant-strategie-digitale.com">mon site de consultant</a> (en cours de construction sous Wordpress)
</p>